#search_form {
    display: flex;
    flex-direction: column;
}

#search {
    display:flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

